@import "./enviado.css";
@import "./descricao.css";

.home .logo-cliente > img {
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    margin: auto;
    display: block;
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 2;
}
.home .logo-cliente > img.cover {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.home .logo-cliente > img.visivel {
    opacity: 1;
}
.home .logo-cliente {
    position: relative;
    padding: 3em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    background-color: var(--cor-tema, var(--cor-padrao));
}

.home .baixo {
    text-align: center;
    padding-bottom: 1em;
}

.home .texto-intro {
    color: var(--cor-padrao);
    line-height: 1.31;
    width: 17em;
    margin: 1.5em auto;
}

.home .texto-intro #cliente {
    color: var(--cor-tema, var(--cor-padrao));
    white-space: nowrap;
}

.home .carregar {
    text-decoration: none;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 0.75rem;
    color: var(--cor-tema, var(--cor-padrao));
    margin-bottom: 2.1em;
}

.home .carregar__icone {
    margin: 0 auto 0.5833em;
    width: 3.334em;
    -webkit-animation-name: bounce;
    -webkit-transform-origin: center bottom;
    animation-name: bounce;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.home .como-funciona {
    font-weight: bold;
    color: #525252;
    font-size: 0.75rem;
    display: block;
}

.home .ranking {
    display: block;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 3.75em;
}

.btn {
    text-decoration: none;
    border: 0;
    color: white;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding: 9px 0;
    background-color: #ababab;
}

.btn-form {
    flex-basis: 48%;
}

.btn.decorado {
    background-color: var(--cor-tema, --cor-padrao);
}

.tooltip > svg {
    fill: var(--cor-tema, var(--cor-padrao));
}
.tooltip {
    position: relative;
    margin: -0.4em auto 0 0em;
    padding: 0 0.5em 0.3em;
    float: right;
}

.tooltip .tooltiptext {
    width: 15em;
    background-color: white;
    color: var(--cor-padrao);
    text-align: center;
    padding: 0.8em;
    border-radius: 0.5em;
    top: 50%;
    left: 105%;
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 0.75rem;
    box-sizing: border-box;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    visibility: hidden;
}

.tooltip .tooltiptext::before {
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: inherit;
    content: '';
    display: block;
}

.tooltip .tooltiptext::after {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    content: " ";
    position: absolute;
    top: 50%;
    z-index: -2;
    right: 100%;
    margin-top: -0.5rem;
    background-color: white;
    transform: translateX(50%) rotate(45deg);
    width: 0.5rem;
    height: 0.5rem;
}

.tooltip:focus .tooltiptext,
.tooltip:hover .tooltiptext {
    visibility: visible;
    -webkit-animation-duration: .75s;
    -webkit-animation-name: bounceIn;
    animation-duration: .75s;
    animation-name: bounceIn;
}

@media only screen and (orientation: landscape) {
    .home .logo-cliente {
        height: 50vh;
    }
}

@keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        -webkit-transform: translateY(-50%) scale3d(.3, .3, .3);
        opacity: 0;
        transform: translateY(-50%) scale3d(.3, .3, .3)
    }

    20% {
        -webkit-transform: translateY(-50%) scale3d(1.1, 1.1, 1.1);
        transform: translateY(-50%) scale3d(1.1, 1.1, 1.1)
    }

    40% {
        -webkit-transform: translateY(-50%) scale3d(.9, .9, .9);
        transform: translateY(-50%) scale3d(.9, .9, .9)
    }

    60% {
        -webkit-transform: translateY(-50%) scale3d(1.03, 1.03, 1.03);
        opacity: 1;
        transform: translateY(-50%) scale3d(1.03, 1.03, 1.03)
    }

    80% {
        -webkit-transform: translateY(-50%) scale3d(.97, .97, .97);
        transform: translateY(-50%) scale3d(.97, .97, .97)
    }

    to {
        -webkit-transform: translateY(-50%) scaleX(1);
        opacity: 1;
        transform: translateY(-50%) scaleX(1)
    }
}

@keyframes bounce {
    0%,20%,53%,80%,to {
        -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
        -webkit-transform: translateZ(0);
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: translateZ(0)
    }

    40%,43% {
        -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        -webkit-transform: translate3d(0,-30px,0);
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-30px,0)
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        -webkit-transform: translate3d(0,-15px,0);
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-15px,0)
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0)
    }
}