.home .logo-cliente {
    height: 270px;
    background-color: var(--cor-tema, var(--cor-padrao));
}

.home .baixo {
    text-align: center;
}

.home .texto-intro {
    color: var(--cor-padrao);
    line-height: 1.31;
    width: 11.125em;
    margin: 1.875em auto 2.125em;
}

.home .texto-intro #cliente {
    color: var(--cor-tema, var(--cor-padrao));
}

.home .carregar {
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 0.75rem;
    color: var(--cor-tema, var(--cor-padrao));
    margin-bottom: 2.1em;
}

.home .carregar__icone {
    margin: 0 auto 0.5833em;
    width: 2.5em;
}

.home .como-funciona {
    font-weight: bold;
    color: #9b9b9b;
    font-size: 0.75rem;
    display: block;
}

.home .ranking {
    display: block;
    /* position: absolute; */
    right: 0;
    bottom: 0;
    position: fixed;
    width: 3.75em;
}