@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import "./normalize.css";
@import "./principal/home.css";
@import "./como-funciona.css";
@import "./ranking.css";
/* #575757 */

:root {
    --cor-padrao: #575757;
    --ranking-cor: #ffac00;
    --erro-cor: #e01e1e;
    -webkit-tap-highlight-color: transparent;
}

button,
a {
    outline: none;
}

::selection {
    background-color: rgba(var(--cor-tema-rgb), 0.5);
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Lato', sans-serif;
}

.unselectable {
    -webkit-user-select: none;
    user-select: none;
}

.interna__voltar {
    text-transform: uppercase;
    font-size: .75rem;
    z-index: 2;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--cor-padrao);
    display: flex;
    align-items: center;
    padding-top: 1.667em;
    padding-left: 1.167em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: .75em;
}

.interna__voltar>svg {
    width: 1.334em;
    height: auto;
    margin-right: 0.6em;
}

.lateral {
    transform: translateX(100%);
    width: 100%;
    transition: transform .4s;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    overflow: auto;
    pointer-events: none;
    -webkit-overflow-scrolling: touch;
}

.lateral[aberto] {
    pointer-events: all;
    transform: translateX(0%);
}

.principal {
    display: flex;
    flex-direction: column;
}

.principal>.home {
    flex: 1;
    transition: transform .3s ease;
}

.principal::after {
    display: block;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    content: '';
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
}

.principal.empurrar::after {
    opacity: 1;
}

.principal.empurrar>.escondivel {
    transform: translateX(-25%) scale(.9);
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: wait;
    z-index: 2;
}

.spinner::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: var(--cor-tema, var(--cor-padrao));
    animation: spinner .6s linear infinite;
    z-index: 2;
}